<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="/css/bootstrap.min.css">

	<!-- Optional theme -->
	<link rel="stylesheet" href="/css/bootstrap-theme.min.css">
	<link rel="stylesheet" href="/css/index.css">

	<!-- Latest compiled and minified JavaScript -->
	<script src="/js/bootstrap.min.js" ></script>

	<script src="/js/jquery-3.1.1.min.js"></script>

	<script src="/js/index.js"></script>
</head>
<body>

<div class="wrapper">
	<div class="container">
		<div class="row search">
			<div class="col-xs-12 text-center icon">SEARCH ENGINE</div>
			<div class="col-xs-12 text-center search-box">
				<input type="text" name="keyword" id = "text-search">
				<button class= "search-button-icon"><img src = "/icon/search.png"></button>
				<button class= "advance-search" data-toggle="collapse" data-target="#advance-search-option">Advance Search</button>
			</div>

			<div id="advance-search-option" class="collapse">
				<div class="option">
					<div class="row option-row">
						<div class="row">
							<div class="col-xs-6">Tìm trang có...</div>
						</div>
						<div class="row">
							<div class="col-xs-3">tất cả các từ này:</div>
							<div class="col-xs-5"><input type="text" name="hello" width="100%"></div>
							<div class="col-xs-4">Nhập các từ quan trọng: chó sục chuột tam thể</div>
						</div>
						<div class="row">
							<div class="col-xs-3">từ hoặc cụm từ chính xác này:</div>
							<div class="col-xs-5"><input type="text" id = "match-search" name="match-search" width="100%"></div>
							<div class="col-xs-4">Đặt từ chính xác trong dấu trích dẫn: "chó sục chuột"</div>
						</div>
						<div class="row">
							<div class="col-xs-3">bất kỳ từ nào trong số này:</div>
							<div class="col-xs-5"><input type="text" name="hello" width="100%"></div>
							<div class="col-xs-4">Nhập OR giữa tất cả các từ mà bạn muốn: thu nhỏ OR tiêu chuẩn</div>
						</div>
						<div class="row">
							<div class="col-xs-3">không từ nào trong số này:</div>
							<div class="col-xs-5"><input type="text" id = "drop-word" name="drop-word" width="100%"></div>
							<div class="col-xs-4">Đặt dấu trừ ngay trước từ mà bạn không muốn: -loài gặm nhấm, -"Jack Russell"</div>
						</div>
						<div class="row">
							<div class="col-xs-3">Thời gian:</div>
							<div class="col-xs-2"><input type="text" id = "date-start" name="date-start" width="100%"></div>
							<div class="col-xs-1">tới</div>
							<div class="col-xs-2"><input type="text" id = "date-end" name="date-end" width="100%"></div>
							<div class="col-xs-4">Ví dụ : từ ngày 2016-10-1 tới ngày 2016-11-1</div>
						</div>
					</div>
				</div>
				
			</div>

			<div class="col-xs-12 text-center search-button">
				<button id = "search-btn">Search</button>
			</div>
			<div class="col-xs-12 line">
				<hr>
			</div>

			<div class="col-xs-12 result">
			</div>

			<div class="col-xs-12 page-manager text-center">
				<div class="row">
					<div class="page-manager-inner">
						<ul class="pagination">
		                    <li class="prev"><a href="#">&laquo;</a></li>
		                    <li class="page active"><a href="#">1</a></li>
		                    <li class="page"><a href="#">2</a></li>
		                    <li class="page" id = "hello"><a href="#">3</a></li>
		                    <li class="page"><a href="#">4</a></li>
		                    <li class="page"><a href="#">5</a></li>
		                    <li class="next"><a href="#">&raquo;</a></li>
                		</ul>
                	</div>
				</div>
			</div>
		</div>
	</div>
</div>

</body>
</html>
